@using productsandcategories.Model;
@model Productview;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> 
    <title>Products</title>
</head>
    <body>
        @{
            Products Display = Model.ToRender;
            Associations AddCategory = Model.AddCategory;
            List<Categories> AddCategoryList = Model.ToAdd;
        }

        <div class = "container mt-5">
            <div class="col-6">
                <h1>Product:  @Display.Name</h1>
                <h2>Associated Categories:</h2>
                <ul>
                @foreach (Associations prod in Display.AssignedCategories)
                {
                    <li>
                        <h2>@prod.CatwithProd.Name<h2>
                    </li>
                }
                </ul>
            </div>
            <p>----------------------------------------------------------</p>
            <div class="col-6">
                <div class="form">
                    <form class="row g-3" asp-action="addCategroy">
                        <div class="question">
                            <label for="floatingInput" asp-for="@AddCategory.CategoryId"><h2>Add Category</h2></label>
                            <select asp-for="@AddCategory.CategoryId" class="input-group-text" for="inputGroupSelect01">
                                @foreach(Categories cat in AddCategoryList)
                                {
                                    <option value="@cat.CategoryId">@cat.Name</option>
                                }
                            </select>
                            <br>
                            <input type="hidden" asp-for="@AddCategory.ProductId" value="@Display.ProductId">
                            <input type="submit" value="Add">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>